name: Deploy to Cloudflare Workers
on:
  workflow_dispatch:
    branches: 
      - main
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sed -i -e "s/CF_ACCOUNT_ID/${{ secrets.CF_ACCOUNT_ID }}/" wrangler.toml
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '15'
      - run: npm install --production
      - name: Publish
        uses: cloudflare/wrangler-action@1.2.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
            FX_JWT_SECRET
        env:
          FX_JWT_SECRET: ${{ secrets.JWT_SHARED_SECRET }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
